<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h1>New post</h1>
            <a href="../../WebApp1/templates/detail_form.html" type="submit" class="save btn btn-default">Save</a>
        </div>
    </div>
</div>
</body>
</html>